<li>
  <small>
    <%= t ".submitted", time: time_ago_in_words(comment.created_at) %>
  </small>

  <blockquote>
    <p><%= comment.content %></p>
  </blockquote>
  <% if comment.root? %>
    <p>
      <%= link_to t(".reply"), new_polymorphic_path([@commentable, comment],
        parent_id: comment.id) %>
    </p>
  <% end %>
</li>
