<div class="row">
  <div class="col-md-4">
    <h3><%= @album.name %></h3>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="audio-player">
          <audio id="audio-player" src="<%= @album.songs.first.audio.url %>"
            type="audio/mp3" controls="controls" autoplay></audio>
        </div>
        <ul class="list-group">
          <% @album.songs.each do |song| %>
            <li class="list-group-item">
              <%= link_to song.audio_file_name, "#",
                class: "song-link", source: song.audio.url %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
</div>
